@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-variablefont_wght-webfont.woff2") format("woff2");
  src: url("fonts/montserrat-variablefont_wght-webfont.woff") format("woff");
}

body {
  background: #000;
  overflow-y: auto;
  font-family: "Montserrat", sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-family: "Prosto One", sans-serif;
}

p {
  color: #fff;
}

body.light .social-icons a {
  box-shadow: 0px 0px 36px 2px #1caada;
}

body.light a.dropdown-btn {
  box-shadow: 0px 0px 36px 2px #1caada;
}

.pictures {
  display: none;
}

body.light .pictures {
  display: block;
}

body.light .timer {
  box-shadow: 0px 0px 36px 2px #1caada;
}

body.light .dropdown-content {
  box-shadow: 0px 0px 36px 2px #1caada;
}

body.light Button {
  box-shadow: 0px 0px 36px 2px #1caada;
}

body.light .search {
  box-shadow: 0px 0px 36px 2px #1caada;
}

.installationer {
  display: flex;
  gap: 20px;
}
