---
import MainLayout from "../layouts/MainLayouts.astro"
import Slider from "../components/Slider.astro"
import Card from "../components/Card.astro"
import Search from "../components/Search.astro"
import Timer from "../components/Timer.astro"
import Button from "../components/Button.astro"

const data = await fetch("https://atnoitojtayusrgbugei.supabase.co/rest/v1/Cph-light", 
{
    method:"GET",
    headers:{
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF0bm9pdG9qdGF5dXNyZ2J1Z2VpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA4NTExNzQsImV4cCI6MjAyNjQyNzE3NH0.QnBMhB7JashNJqepGs9_JjfdNY6c3s6GMhaoFRa52NA" 

    }
}).then(res=>res.json());

console.log("data er ", data);

---


<body class="forside">
<MainLayout title="">
    <div class="hero">
        <video autoplay src="/hero-video.mp4"></video>
    </div>
    <div class="forside"><h1>COPENHAGEN LIGHT FESTIVAL <br>PROGRAM 2. - 25. FEBRUAR 2024</h1></div> </br>
    <p>Se hér, hvilke 58 lysværker vi præsenterede for festivalens mange gæster hver aften: <br><a href="https://copenhagenlightfestival.org/program-2024/">COPENHAGEN LIGHT FESTIVAL PROGRAM 2024</a></p></br>
    <p>I programmet finder du også omtaler af events i festivalperioden, herunder om koncertrækken med DR Vokalensemblet i Marmorkirken, om pop-ups ved lysværkerne og om Lysløbet og Familieløbet, der startede og sluttede på Ofelia Plads.</p>
    <p class="bold">I februar 2024 kunne lysfestivalens gæster tage på opdagelse i Københavns indre by og i områderne Refshaleøen, Ørestad, DR Koncerthuset, Vestre Kirkegård, Nordhavn og brokvartererne.</p>
    <p>Alle festivalens lysværker kunne opleves via gå-, løbe-, cykel, havnebus- og/eller busruter.</p></div>
    <Timer/>
	<Button variant="primary" size="small">TILBAGE</Button>
</MainLayout>
</body>

<style>
    .hero {
        margin-left: -200px;
    margin-right: -200px;
    margin-top: -150px;
    position: relative;
    }
    
    .hero video {
        width: 100%;
        height: auto;
    }
    .bold {
        font-weight: 700;
    }
    p {
        text-align: center;
        font-size: 1.2rem;
       
    }
    
    a {
        color: aqua;
    } 
    
    h1 {
        text-align: center;
        margin-top: 100px;
    }
    .forside {
        max-width: 1100px;
        margin: 0 auto;
    }
</style>
