---

---

<div class="background-image">
    <img src="/top.svg" alt="" class="pictures picture-1">
    <img src="/mid.svg" alt="" class="pictures picture-2">
    <img src="/bottom.svg" alt="" class="pictures picture-3">
</div>

<style>

    body.forside .pictures {
        z-index: 100;
    }

    .pictures {
        position: absolute;
        
        z-index: -10;
    }
      .picture-1 {
        top: 0;
        right: 0;
    }

    .picture-2 {
        top: 100px;
        left: 0;
    }

    .picture-3 {
        top: 600px;
        left: 0;
    }
</style>