---
const { data } = Astro.props; 
 console.log("vores card data er: ",data)
---

<div class="card">
    <img class="card-image" src="../public/test.png" alt="">
</div>

<div class="card-wrapper">
    <div class="overlay"></div>
    <div class="info">
        <span class="close-btn">&times;</span>
        <div class="info-wrapper">
            <h1>{data.titel}</h1>
            <h3>{data.kunstner}</h3>
            <p>{data.beskrivelse}</p>
            <img src={data.img} alt="">
            
        </div>
     
    </div>
</div>

<style>
    body {
        position: relative;
    }

    .card {
        position: relative;
        height: 320px;
        width: 400px;
        border-radius: 16px;
        overflow: hidden;
        cursor: pointer;
        z-index: 100;
    }

    .card-image {
        height: auto;
        width: 100%;
        /* position: absolute; */
    }

    .info-image {
        width: 100%;
        height: auto;
    }

    .card-wrapper {
        display: none;
    }

    .card-wrapper.active {
        display: block;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        padding: 30px;
      background: rgba(255, 255, 255, 0.12);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.8px);
-webkit-backdrop-filter: blur(7.8px);
border-radius: 32px;
        max-width: 800px;
        top: 40%;
        left: 15%;
        right: 0;
        text-align: center;
        z-index: 100;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 200;
        background: transparent;
        padding: 5.3px 10px;
        border-radius: 100px;
        color: white;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const card = document.querySelector(".card");
        const cardWrapper = document.querySelector(".card-wrapper");
        const info = document.querySelector(".info");
        const closeBtn = document.querySelector(".close-btn");

        card.addEventListener("click", function () {
            cardWrapper.classList.toggle("active");
        });

        closeBtn.addEventListener("click", function () {
            cardWrapper.classList.remove("active");
        });
    });
    function closePopup() {
  const modal = document.getElementById("card");
  modal.style.display = "none";
}
</script>


