---

---

<div class="search">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="loop"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path></svg>
    <input placeholder="Søg efter værker" type="text" id="check">
</div>


<style>
    .search {
        background-color: #000;
        border-radius: 32px;
        box-sizing: border-box;
        position: relative;
        width: 340px;
        z-index: 100;
        margin-left: auto;
    }

    input {
        background: #000;
          border: 0 solid transparent;
          border-radius: 32px;
          box-sizing: border-box;
          height: 52px;
          outline: none;
          text-indent: 50px;
          color: rgba(255, 255, 255, 0.556);
          width: 100%;
      }

    svg {
        height: 25px;
        width: 25px;
        bottom: 0;
        left: 15px;
        margin: auto;
        position: absolute;
        top: 0;
        stroke: rgba(255, 255, 255, 0.556);
    }
</style>

<script>

</script>
