---
import Card from "../components/Card.astro"
---

    <div class="box"></div>


    <style>
        .box {
         background-color: red;
         height: 100px;
         width: 100px;
        }
    </style>
<script>
 

</script>