<div class="timer">
    <div>
        <h3 class="stor" id="days">00</h3><p>Days</>
    </div>
    <div>
        <h3 class="stor" id="hours">00</h3><p>Hours</p>
    </div>
    <div>
        <h3 class="stor" id="minutes">00</h3><p>Minutes</p>
    </div>
    <div>
        <h3 class="stor" id="seconds">00</h3><p>Seconds</p>
    </div>
</div>

<style>
    .timer {
        
        padding: 60px 30px;
        width: 400px;
        border-radius: 32px;
        border: 1px solid transparent;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 30px auto;
    }

h3.stor {
    color: white;
    font-size: 50px;
    margin: 0;
}

</style>

<script>
    var countDownDate = new Date("Feb 2, 2025").getTime();
    var x = setInterval(function(){
        var now = new Date().getTime();
        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60* 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;

    },1000);
</script>