---

---

<div class="container">
    <input type="checkbox" id="check">
    <label for="check" class="button"></label>
    <img src="/top.svg" alt="" class="pictures picture-1">
    <img src="/mid.svg" alt="" class="pictures picture-2">
    <img src="/bottom.svg" alt="" class="pictures picture-3">
</div>


<style>
    @media (max-width: 800px) {
        .container {
            display: none!important;
        }
    }

    .container {
        display: flex;
    }

    .button {
        background: #d2d2d2;
        width: 52px;
        height: 30px;
        border-radius: 100px;
        cursor: pointer;
        position: relative;
    }

    .button::before {
        position: absolute;
        content: "";
        background: #fff url("..//moon.png") no-repeat 5px 5px;
        width: 24px;
        height: 24px;
        border-radius: 100px;
        margin: 3px;
        transition: all 0.3s ease-in-out;
    }

    input:checked + .button::before {
        background: #fff url("..//sun.png") no-repeat 5px 5px;
    }

    input:checked + .button {
        background: #4444f1;
    }

   

    input:checked ~ .pictures {
        width: fit-content;
        height: fit-content;
        position: absolute;
        opacity: 0.6;
        z-index: -10;    
    }

    .pictures {
        
    }

    .picture-1 {
        top: -100px;
        left: 400px;
    }

    .picture-2 {
        top: 100px;
        left: 0;
    }

    .picture-3 {
        top: 600px;
        left: 0;
    }


    input:checked + .button::before {
        transform: translateX(22px);
    }

    input{
        display: none;
    }

    img.pictures {
        z-index: -100;
    }

</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const body = document.getElementsByTagName('body')[0];
    const button = document.querySelector(".button");

        button.addEventListener("click", function () {
            body.classList.toggle("light")
        });
    });
</script>
